{% extends 'base.html.twig' %}

{% block title %}Strona główna - Hubert Rządziński{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
    <section class="hero d-flex align-items-center">
        <div class="container">
            <h1>Blog o programowaniu</h1>
        </div>
    </section>
    <section class="homepage">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    {% for article in articles %}
                        <article>
                            <h2>{{ article.title }}</h2>
                            <small class="text-muted">{{ article.createdAt|date('Y-m-d') }}</small>
                            {{ article.content|slice(0,200)|raw }}...
                            <br>
                            <br>
                            <a class="btn btn-primary"
                               href="{{ path('view_article', { slug: article.slug }) }}">Czytaj
                                dalej</a>
                        </article>
                    {% endfor %}
                </div>
                <div class="col-sm-12 col-lg-2">
                    Side panel
                </div>
            </div>
        </div>
    </section>
{% endblock %}
